body {
  background-color: #f2654b;
}

.jumbotron {
  display: block;
  background-image: url(https://github.com/Saul-Ordonez/secret-hitler/blob/master/media/Photo%20Dec%2004,%2012%2017%2029%20PM.jpg?raw=true);
  margin-right: auto;
  margin-left: auto;
}

.playerNum {
  padding-left: 150px;
  padding-right: 150px;
}

.player1 {
  display: none;
  grid-column: 3;
  grid-row: 1;
  height: 250;
}

#player1Affiliation {
  display: none;
}

label.jaLabel {
  background-image: url(https://github.com/Saul-Ordonez/secret-hitler/blob/master/media/Photo%20Dec%2004,%2012%2016%2045%20PM.jpg?raw=true);
  background-position: block;
  background-size: 100px 60px;
  background-repeat: no-repeat;
  width: 100px;
  height: 60px;
}

label.neinLabel {
  background-image: url(https://github.com/Saul-Ordonez/secret-hitler/blob/master/media/Photo%20Dec%2004,%2012%2016%2036%20PM.jpg?raw=true);
  background-position: block;
  background-size: 100px 60px;
  background-repeat: no-repeat;
  width: 100px;
  height: 60px;
}

.player2 {
  display: none;
  grid-column: 3;
  grid-row: 2;
  height: 250;
}

#player2Affiliation {
  display: none;
}

.player3 {
  display: none;
  grid-column: 3;
  grid-row: 3;
  height: 250;
}

#player3Affiliation {
  display: none;
}

.player4 {
  display: none;
  grid-column: 1;
  grid-row: 3;
  height: 250;
}

#player4Affiliation {
  display: none;
}

.player5 {
  display: none;
  grid-column: 1;
  grid-row: 2;
  height: 250;
}

#player5Affiliation {
  display: none;
}

.player6 {
  display: none;
  grid-column: 1;
  grid-row: 1;
  height: 250;
}

#player6Affiliation {
  display: none;
}

.gameGrid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 3fr auto 3fr;
  grid-template-rows: auto auto auto;
}

.gameGrid .liberalBoard {
  display: inherit;
}

.gameGrid .fascistBoard {
  display: inherit;
}

.liberalBoard {
  display: grid;
  grid-column: 2;
  grid-row: 1;
  width:1000px;
  height: 250px;
  background-image: url(https://github.com/Saul-Ordonez/secret-hitler/blob/styles/media/liberal-board.jpeg?raw=true);
  background-size: 1000px 250px;
  grid-template-areas:
  "a a a a a a a"
  "i d e f g h l"
  "i k k k k k l";
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 3fr 3fr 3fr 3fr 3fr 3fr 3fr ;
}

.liberalBoard > .blueBoarder {
  grid-area: a;
  text-align: center;
}

.liberalBoard > .electionTracker {
  grid-area: k;
  text-align: center;
}

.liberalBoard > .firstLib {
  text-align: center;
  grid-area: d;
  background-image: url(https://github.com/Saul-Ordonez/secret-hitler/blob/master/media/Photo%20Dec%2004,%2012%2016%2024%20PM.jpg?raw=true);
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
}

.liberalBoard > .secondLib {
  text-align: center;
  grid-area: e;
  background-image: url(https://github.com/Saul-Ordonez/secret-hitler/blob/master/media/Photo%20Dec%2004,%2012%2016%2024%20PM.jpg?raw=true);
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
}

.liberalBoard > .thirdLib {
  text-align: center;
  grid-area: f;
  background-image: url(https://github.com/Saul-Ordonez/secret-hitler/blob/master/media/Photo%20Dec%2004,%2012%2016%2024%20PM.jpg?raw=true);
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
}
.liberalBoard > .fourthLib {
  text-align: center;
  grid-area: g;
  background-image: url(https://github.com/Saul-Ordonez/secret-hitler/blob/master/media/Photo%20Dec%2004,%2012%2016%2024%20PM.jpg?raw=true);
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
}

.liberalBoard > .fifthLib {
  text-align: center;
  grid-area: h;
  background-image: url(https://github.com/Saul-Ordonez/secret-hitler/blob/master/media/Photo%20Dec%2004,%2012%2016%2024%20PM.jpg?raw=true);
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
}

.liberalBoard > .blackLibSideL {
  grid-area: i;
}

.liberalBoard > .blackLibSideR {
  grid-area: l;
}

.liberalBoard > .blackLibBottom {
  grid-area: k;
}

.bulletinBoard {
  display: grid;
  grid-column: 2;
  grid-row: 2;
  width:1000px;
  height: 250px;
  text-align: center;
}

.fascistBoard {
  display: grid;
  grid-column: 2;
  grid-row: 3;
  background-image: url(https://github.com/Saul-Ordonez/secret-hitler/blob/styles/media/fascist-board.jpeg?raw=true);
  background-size: 1000px 250px;
  width:1000px;
  height: 250px;
  grid-template-areas:
  "a a a a a a a a"
  "i b b b b b b l"
  "i d e f g h n l"
  "i c c c c c c l"
  "i k k k k k k l";
  grid-template-rows: 1fr 2fr 4fr 1fr 1fr;
  grid-template-columns: 1fr 3fr 3fr 3fr 3fr 3fr 3fr 1fr ;
}

.fascistBoard > .blackFasBoarder {
  grid-area: a;
}

.fascistBoard > .redBoarder {
  grid-area: b;
  text-align: center;
}

.fascistBoard > .redBoarderB {
  grid-area: c;
  text-align: center;
}

.fascistBoard > .firstFas {
  grid-area: d;
  background-image: url(https://github.com/Saul-Ordonez/secret-hitler/blob/master/media/Photo%20Dec%2004,%2012%2016%2059%20PM.jpg?raw=true);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

.fascistBoard > .secondFas {
  grid-area: e;
  background-image: url(https://github.com/Saul-Ordonez/secret-hitler/blob/master/media/Photo%20Dec%2004,%2012%2016%2059%20PM.jpg?raw=true);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}
.fascistBoard > .thirdFas {
  grid-area: f;
  text-align: center;
  background-image: url(https://github.com/Saul-Ordonez/secret-hitler/blob/master/media/Photo%20Dec%2004,%2012%2016%2059%20PM.jpg?raw=true);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

.fascistBoard > .fourthFas {
  grid-area: g;
  text-align: center;
  background-image: url(https://github.com/Saul-Ordonez/secret-hitler/blob/master/media/Photo%20Dec%2004,%2012%2016%2059%20PM.jpg?raw=true);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

.fascistBoard > .fifthFas {
  grid-area: h;
  text-align: center;
  background-image: url(https://github.com/Saul-Ordonez/secret-hitler/blob/master/media/Photo%20Dec%2004,%2012%2016%2059%20PM.jpg?raw=true);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

.fascistBoard > .sixthFas {
  grid-area: n;
  text-align: center;
  background-image: url(https://github.com/Saul-Ordonez/secret-hitler/blob/master/media/Photo%20Dec%2004,%2012%2016%2059%20PM.jpg?raw=true);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

.fascistBoard > .blackFasSideL {
  grid-area: i;
}

.fascistBoard > .blackFasSideR {
  grid-area: l;
}

.fascistBoard > .blackFasBottom {
  grid-area: k;
}

.voteButton {
  display: none;
}

.nameInput5 {
  display: none;
}

.nameInput6 {
  display: none;
}

.affiliationCheck {
  display: none;
}

.audio {
  display: none;
}

.selectChancellor {
  display: none;
}

.presidentPolicyCheck {
  display: none;
}

.presidentPolicyElimination {
  display: none;
}

.chancellorPolicyCheck {
  display: none;
}

.chancellorPolicyElimination {
  display: none;
}

.executiveAction {
  display: none;
}

.liberalBoardWin {
  display: none;
}

.liberalKillWin {
  display: none;
}

.fascistBoardWin {
  display: none;
}

.fascistHitlerWin {
  display: none;
}

.nextRound {
  display: none;
}

.newRound {
  display: none;
}

#closeTopThree {
  display: none;
}

.jaPic {
  background-image: url(https://github.com/Saul-Ordonez/secret-hitler/blob/master/media/Photo%20Dec%2004,%2012%2016%2045%20PM.jpg?raw=true);
}

.neinPic {
  background-image: url(https://github.com/Saul-Ordonez/secret-hitler/blob/master/media/Photo%20Dec%2004,%2012%2016%2036%20PM.jpg?raw=true);
}

.chaos {
  display: none;
}
